html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "proxima-nova-b,serif"
}

ul {
  padding: 0
}

p {
  font-family: "proxima-nova-r,serif"
}

body {
  background-color: #e5e9ef;
}

.App {
  /* width: 90vw; */
  margin: 0 auto;
  text-align: center;
}

.App-bar {
  position: absolute;
  top: 3em;
  height: 2em;
  z-index: 1024;
  width: 100vw;
  background-color: white;
  box-shadow: 2px 2px 3px 3px rgba(124, 124, 124, 0.5);
}

.App-wrapper {
  margin: 0 auto;
  width: 100vw;
}

.App-title {
  color: white;
  position: absolute;
  margin: 0.5em auto;
}

.App-menu_list {
  display: inline;
  margin: 2em;
}

.App-menu_button {
  width: 200px;
  box-shadow: 2px 2px 3px 3px rgba(124, 124, 124, 0.8);
}

.App-menu_button>div {
  font-size: 1.5em;
}

.Uc-logo {
  float: right;
  padding: 15px;
}

/*PAGE LAYOUT */

.App-layout {
  display: grid;
  grid-gap: 2em;
  width: 70vw;
  margin: 3em auto;
  grid-template-columns: 1fr 3fr;
}

.container {
  background-color: white;
  margin: 2em 2em auto;
  padding: 1em;
  box-sizing: border-box;
  border-top: solid rgba(0, 120, 212, 1) 1em;
  box-shadow: 2px 2px 5px 5px rgba(124, 124, 124, 0.3);
}

.prediction {
  width: 320px;
}

.request {
  position: relative;
  width: 100%;
  text-align: left;
}

.report {
  text-align: left;
  position: relative;
  grid-area: 2/1/2/5
}

.App-header {
  background: url("./img/header-bar.svg") center top/cover no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100vw;
  height: 50px;
}

/*PAGE LAYOUT */

.App-logo {
  /* position: relative; */
  animation: App-logo-spin infinite 20s linear;
  height: 5em;
  pointer-events: none;
  z-index: 9999;
}

.App-body {
  position: relative;
  top: 5vh;
  margin: 0em auto;
}

label {
  display: block
}

label>span {
  float: left;
}

label>input {
  color: red;
  width: 200px;
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}

/* ARROW TOOLTIPS */

.arrowBubble {
  content: "";
  position: absolute;
  border: 2em solid transparent;
  border-right: 2em solid rgba(255, 255, 255, 1);
  left: -4em;
  top: 3em;
}

.up {
  border: 2em solid transparent;
  border-bottom: 2em solid rgba(255, 255, 255, 1);
  top: -4em;
  left: 65%
}

/* ARROW TOOLTIPS */

hr {
  border: 1px solid rgb(221, 221, 221)
}

/* Prediction request */

.request-table {
  display: table;
}

.request-row {
  display: table-row;
}

.request-cell {
  display: table-cell;
  font-weight: 500;
  padding: 1em;
}

.request-cell>small {
  font-weight: 400;
  color: gray;
}

.bold {
  font-weight: 600;
}

/* Prediction request */

/* Prediction Table */

.report-note {
  text-align: right;
}

#report-table {
  display: block;
  overflow: auto;
}

.table-header {
  background-color: rgba(255, 205, 0);
  height: 2em;
}

th {
  height: 2em;
  font-size: 600;
  width: 20vw;
}

/* test */

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.report-row:hover {
  background-color: #ddd;
}

/* test */

/* Prediction Table */

/* Prediction Heatmap */

.report-charts {
  overflow-x: auto;
  overflow-y: hidden;
  display: grid;
  grid-template-areas: "chart legends";
  margin: 0em auto
}

.report-lineChart {
  grid-area: "chart";
  justify-self: center;
}

.report-legend {
  grid-area: "legends";
  justify-self: start;
}

/* Prediction Heatmap */

.report-legend {
  float: right;
}

/* NOTIFICATION */

.notification {
  margin: 1em auto;
  text-align: left;
  background: rgba(0, 120, 212, 1);
  padding: 0.5em 1em 0.5em 1em;
  color: white;
  border-radius: 8px;
  display: block;
  max-width: 300px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width:1024px) {
  .App-title {
    font-size: 1.5em;
  }
  .App-layout {
    display: grid;
    width: 90vw;
    grid-template-columns: 1fr;
  }
  .container {
    width: 80vw;
  }
  .arrowBubble {
    border: 2em solid transparent;
    border-bottom: 2em solid rgba(255, 255, 255, 1);
    top: -4em;
    left: 25%
  }
  .report {
    grid-area: 3/auto
  }
  .up {
    left: 65%
  }
}

@media (max-width:600px) {
  .App-title {
    font-size: 1.3em;
  }
  .App {
    width: 90vw;
  }
  .container {
    width: 90vw;
    margin: auto;
  }
  .App-bar {
    position: fixed;
    top: 95vh;
    background-color: rgba(0, 40, 85, 1);
    height: 4em;
    box-shadow: 2px -2px 1px 1px rgba(124, 124, 124, 0.5);
  }
  .App-wrapper {
    position: fixed;
    bottom: 0vh;
  }
  .App-menu_button {
    width: 30vw;
    box-shadow: 1px 0px 2px 2px rgba(124, 124, 124, 0.5);
  }
  .App-menu_button>div {
    font-size: 1em;
  }
}